@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap');


/* Variebles */
:root {
  --primary: #6F4E37;
  --parima: #967661;
}

/* Base Styles */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Montserrat', sans-serif;  line-height: 1.6;
  color: var(--primary);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

h1, h2 {
  font-weight: 500;
  line-height: 1.2;
  margin: 0.625rem 0;
}

p {
  margin: 0.625rem 0;
}

img {
  width: 100%;
}

/* Navbar */
.navbar {
  position: fixed;
  background-color: white;
  width: 100%;
  height: 90px;
}

.navbar .container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 10px;
}

.container h1 {
  font-weight: 700;
}

.container nav ul {
  display: flex;
}

.container nav ul li {
  margin: 10px;
}

.container nav ul li a {
  color: #9b8678;
  transition: .3s ease-in-out;
  font-size: 1.1em;
  font-weight: 600;
}

.container nav ul li a:hover {
  color: var(--primary);
}

/* Home Section */
.home {
  height: 100vh;
  Width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}


.home-text {
  width: 550px;
}

.home-text h1 {
  font-size: 3em;
  font-weight: 600;
}

.home-text p {
  font-size: 1.625em;
  color: var(--primary);
  margin-top: 20px;
}

.home-image img {
  width: 350px;
  height: 350px;
}


/* About */
.about-section {
  height: 100vh;
  Width: 100%;
  background-color: var(--primary);
  color: white;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-around;
}

.about-us {
  width: 50%;
}

.about-us h1 {
  text-align: center;
  font-size: 2em;
  font-weight: 600;
}

.about-us p {
  text-align: center;
  font-size: 1.2em;
  margin-top: 30px;
}

.about-images {
  background: #fff;
  width: 350px;
  padding: 80px 20px 0px 20px;
  border-radius: 50px;
  box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.25);
  transition: .4s ease-in-out;
  margin-top: 90px;
}


.about-images:hover {
  transform: translateY(-5px);
  box-shadow: 15px 15px 15px 15px rgba(0, 0, 0, 0.25);
}


/* What we Offer Section */
.what-we-offer {
  height: 100vh;
  Width: 100%;
  padding: 100px;
}

.what-we-offer h1 {
  font-size: 3em;
  font-weight: 700;
  text-align: center;
}

.what-we-offer .cards {
  display: flex;
  justify-content: space-evenly;
  margin-top: 40px;
}

.what-we-offer .cards .card {
  background-color: rgba(255, 255, 255, 0.89);
  border-radius: 20px;
  box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.25);
  /* height: 440px; */
  width: 330px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
  transition: .4s ease-in-out;
}

.what-we-offer .cards .card:hover {
  transform: translateY(-5px);
  box-shadow: 15px 15px 15px 15px rgba(0, 0, 0, 0.25);
}

.what-we-offer .cards .card h4 {
  font-size: 1.3em;
  font-weight: 700;
  text-align: center;
}

.what-we-offer .cards .card p {
  font-size: 1em;
  text-align: center;
}

.what-we-offer .cards .card img {
  width: 100px;
  margin-bottom: 20px;
}


/* Contact Us */
.contact {
  height: 80vh;
  Width: 100%;
  background-color: var(--primary);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 40px;
}

.contact h1 {
  color: white;
  font-size: 3em;
  font-weight: 700;
}


.showcase-form {
  background-color: white;
  border-radius: 20px;
  position: relative;
  height: 350px;
  width: 400px;
  padding: 40px;
  z-index: 100;
  justify-self: flex-end;
}

.showcase-form .form-control {
  margin: 25px 0;
}

.showcase-form input[type="text"],
.showcase-form input[type="email"] {
  border: none;
  border-bottom: 1px solid var(--primary);
  width: 100%;
  outline: none;
  padding: 14px;
  font-size: 16px;
}

.showcase-form input:focus {
  outline: none;
}

.showcase-form .button-primary {
  font-size: 1em;
  width: 100px;
}



/* Media Queries */

  /* Tablets and Under */
  @media (max-width: 768px) { 
    * {
      font-size: 18px;
    }

    /* Navbar */
    .navbar {
      height: 110px;
      justify-content: center;
      z-index: 10;
    }

    .navbar .container {
      flex-direction: column;
      justify-content: center;
    }

    .navbar .container h1 {
      font-size: 30px;
    }

    .navbar .container a {
      font-size: 18px;
      margin: 2px;
    }

    .navbar .container .button-primary {
      display: none;
    }

    /* Home Section */
    .home {
      justify-content: center;
      align-items: center;
      text-align: center;
    }

    .home .home-text h1 {
      font-size: 30px;    
    }

    .home .home-text p {
      font-size: 20px;
    }

    .home .home-image {
      display: none;
    }

    /* About Section */
    .about-section {
      justify-content: center;
      align-items: center;
    }

    .about-section .about-us {
      width: 90%;
      /* height: 70%; */
    }

    .about-section .about-us {
      font-size: 14px;
    }

    .about-section .about-us h1 {
      font-size: 30px;
    }


    .about-section .about-us p {
      font-size: 15px;
    }

    .about-section .about-images {
      display: none;
    }

    /* What we offer section */

    .what-we-offer {
      height: 150vh;
      padding: 100px;
    }

    .what-we-offer h1 {
      font-size: 30px;
    }

    .what-we-offer .cards {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .what-we-offer .cards .card {
      width: 250px;
      height: 250px;
      margin-top: 20px;
    }

    .what-we-offer .cards .card h4 {
      font-size: 20px;
    }

    .what-we-offer .cards .card p {
      font-size: 13px;
    }

    .what-we-offer .cards .card img {
      width: 100px;
      padding: 20px;
      margin-bottom: -10px;
    }

    /* Contact Section */
    .contact {
      height: 80vh;
    }

    .contact h1 {
      font-size: 30px;
    }

    .contact .showcase-form {
      width: 350px;
    }
  }
