@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap');


/* Variebles */
:root {
  --primary: #6F4E37;
  --parima: #967661;
}

/* Base Styles */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Montserrat', sans-serif;  line-height: 1.6;
  color: var(--primary);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

h1, h2 {
  font-weight: 500;
  line-height: 1.2;
  margin: 0.625rem 0;
}

p {
  margin: 0.625rem 0;
}

img {
  width: 100%;
}

/* Navbar */
.navbar .container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 10px;
}

.container h1 {
  font-weight: 700;
}

.container nav ul {
  display: flex;
}

.container nav ul li {
  margin: 10px;
}

.container nav ul li a {
  color: #9b8678;
  transition: .3s ease-in-out;
  font-size: 1.1em;
  font-weight: 600;
}

.container nav ul li a:hover {
  color: var(--primary);
}

/* Home Section */
.home {
  height: 100vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}


.home-text {
  width: 550px;
}

.home-text h1 {
  font-size: 3em;
  font-weight: 600;
}

.home-text p {
  font-size: 1.625em;
  color: var(--primary);
  margin-top: 20px;
}

.home-image img {
  width: 500px;
  height: 500px;
}

/* About Section
.about {
  height: 100vh;
  background: var(--primary);
  color: white;
}

.about-me {
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-me .text {
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
/* }

.about-me .text h1 {
  font-size: 3em;
  font-weight: 600;
}

.about-me .text p {
  font-size: 1.2em;
  width: 60%; */
/* } */ 

/* About */
.about-section {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--primary);
  color: white;
}

.about-us {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.about-us .text {
  width: 70%;
  height: 100%;
  text-align: center;
}

.about-us .text h1 {
  font-size: 3em;
  font-weight: 600;
}

.about-us .text p {
  font-size: 1.2em;
  margin-top: 30px;
}
